<div class="container-fluid">
  <!-- IS LOADING COMPONENT -->
<div class="d-flex justify-content-center d-print-none" *ngIf="isLoading">
<div class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
</div>

<div class="container">
<div class="mx-auto my-5 col-md-6">
  <form [formGroup]="organizationForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
  <div class="form-floating mb-3">
    <input
    type="text"
    class="form-control"
    formControlName="organizationName"
    placeholder="*Organization Name"
    />
    <label for="organizationName">*Organization Name</label>
  </div>
  <div class="form-floating mb-3">
  <input
  type="tel"
    class="form-control"
    formControlName="organizationPhoneNo"
    placeholder="*Organization PhoneNo"
    pattern="[0-9]{10}"
  />
  <label for="organizationPhoneNo">*Organization PhoneNo</label>
  </div>
  <div class="form-floating mb-3">
  <input
  type="tel"
  class="form-control"
  formControlName="organizationWhatsAppNo"
  placeholder="*Organization WhatsApp No"
  pattern="[0-9]{10}"
  />
  <label for="organizationWhatsAppNo">*Organization WhatsApp No</label>
</div>
<div class="form-floating mb-3">
      <textarea
        class="form-control"
        formControlName="organizationAddress"
        rows="6"
        placeholder="*Organization Address"
      ></textarea>
      <label for="organizationAddress">*Organization Address</label>
    </div>

<div class="form-floating mb-3">
<input
  type="email"
  class="form-control"
  formControlName="organizationEmail"
  placeholder="*Organization Email"
/>
<label for="organizationEmail">*Organization Email</label>
</div>

<div class="form-floating mb-3">
      <textarea
        class="form-control"
        formControlName="organizationDescription"
        rows="6"
        placeholder="*Organization Description"
      ></textarea>
      <label for="organizationDescription">*Organization Description</label>
    </div>

  <div class="form-floating mb-3">
      <textarea
        class="form-control"
        formControlName="organizationGoogleMap"
        rows="6"
        placeholder="*Organization GoogleMap"
      ></textarea>
      <label for="organizationGoogleMap">*Organization GoogleMap</label>
    </div>

  <button class="btn btn-primary">Save Organization</button>
  <a class="btn btn-danger mx-3" routerLink="/shop">Cancel</a>
  </form>
</div>
</div>

<!-- {{ this.organizationForm.value | json }} -->

<!-- 	
<hr>
<app-organization-list></app-organization-list>
<hr> -->
</div>