<div class="container">

  <!-- ADD ORDER -->
<div class="my-3">
<a routerLink="/orders/new"class="btn btn-primary">Add Order</a>
</div>

  <!-- IS LOADING COMPONENT -->
<div class="d-flex justify-content-center d-print-none" *ngIf="isLoading">
<div class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
</div>

<!-- SEARCH BAR -->
<form [formGroup]="orderSearchForm" (ngSubmit)="onSearchOrder()" class="my-4">
<div class="row">
  <div class="col-md-6">
    <div class="form-floating mb-3">
      <input
        type="date"
        class="form-control"
        formControlName="orderedFromDate"
        placeholder="Order From Date"
      />
      <label for="orderedFromDate">Order From Date</label>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-floating mb-3">
      <input
        type="date"
        class="form-control"
        formControlName="orderedToDate"
        placeholder="Order To Date"
      />
      <label for="orderedToDate">Order To Date</label>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="form-floating mb-3">
      <input
        list="orderStatuss"
        class="form-control"
        formControlName="orderStatus"
        placeholder="Order Type"
        id="orderStatus"
      />
      <datalist id="orderStatuss">
        <option
          *ngFor="let item of orderStatus_list"
          [value]="item.status"
        >
          {{ item.status }}
        </option>
      </datalist>
      <label for="orderStatus" class="form-label">Order Status</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-floating mb-3">
      <input
        list="orderTypes"
        class="form-control"
        formControlName="orderType"
        placeholder="Order Type"
        id="orderType"
      />
      <datalist id="orderTypes">
        <option *ngFor="let item of orderType_list" [value]="item.type">
          {{ item.type }}
        </option>
      </datalist>
      <label for="orderType" class="form-label">Order Type</label>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        formControlName="orderModelNo"
        placeholder="Model No"
      />
      <label for="orderModelNo">Model No</label>
    </div>
  </div>
  <div class="col-md-3">
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      formControlName="customerPhoneNo"
      placeholder="Customer Phone No"
    />
    <label for="customerPhoneNo">Customer Phone No</label>
  </div>
</div>
</div>
<div class="row">
  <div class="mx-auto col-md-6 text-center">
    <button class="btn btn-info me-1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-search"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
        />
      </svg>
      &nbsp;Search Order Details
    </button>

    <button class="btn btn-danger" (click)="clearAll()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-x-lg"
        viewBox="0 0 16 16"
      >
        <path
          d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"
        />
      </svg>
      &nbsp;Clear All
    </button>
  </div>
</div>
</form>


<!-- NO OF ORDERS -->

<div class="table-responsive my-5">
<p class="text-center" *ngIf="orders.length<=0 && !isLoading">No Orders Added</p>

<table class="table table-hover" *ngIf="orders.length>0 && !isLoading">
<thead>
<tr class="table-my-primary">
<th scope="col">Order No</th>
  <th scope="col">Order Type</th>
  <th scope="col">Order Model No</th>
  <th scope="col">Order Description</th>
  <th scope="col">Measurement Image</th>
  <th scope="col">Total Amount</th>
  <th scope="col">Amount Paid</th>
  <th scope="col">Transaction Summary</th>
  <th scope="col">order Status</th>
  <th scope="col"></th>
</tr >
</thead>
<tbody>
<tr *ngFor="let order of orders">
<th scope="row">{{order.orderBillNo}}</th>
<td>{{order.orderType}}</td>
<td>{{order.orderModelNo}}</td>
<td>{{order.orderDescription}}</td>
<td><a href="https://drive.google.com/uc?id={{order.image}}" target="_blank"><img src="https://drive.google.com/thumbnail?id={{order.image}}" [alt]="order._id" height="90" width="90"></a></td>
<td class="text-success">{{order.totalAmount}}</td>
<td>{{order.amountPaid}}</td>
<td>
<a href="tel:{{order.customerPhoneNo}}">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-phone-vibrate-fill" viewBox="0 0 16 16">
  <path d="M4 4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4zm5 7a1 1 0 1 0-2 0 1 1 0 0 0 2 0zM1.807 4.734a.5.5 0 1 0-.884-.468A7.967 7.967 0 0 0 0 8c0 1.347.334 2.618.923 3.734a.5.5 0 1 0 .884-.468A6.967 6.967 0 0 1 1 8c0-1.18.292-2.292.807-3.266zm13.27-.468a.5.5 0 0 0-.884.468C14.708 5.708 15 6.819 15 8c0 1.18-.292 2.292-.807 3.266a.5.5 0 0 0 .884.468A7.967 7.967 0 0 0 16 8a7.967 7.967 0 0 0-.923-3.734zM3.34 6.182a.5.5 0 1 0-.93-.364A5.986 5.986 0 0 0 2 8c0 .769.145 1.505.41 2.182a.5.5 0 1 0 .93-.364A4.986 4.986 0 0 1 3 8c0-.642.12-1.255.34-1.818zm10.25-.364a.5.5 0 0 0-.93.364c.22.563.34 1.176.34 1.818 0 .642-.12 1.255-.34 1.818a.5.5 0 0 0 .93.364C13.856 9.505 14 8.769 14 8c0-.769-.145-1.505-.41-2.182z"/>
</svg> {{order.customerPhoneNo}}
</a>
<hr>
  <p [innerHTML]="order.transactionSummary"></p>
</td>
<td><span class="badge" [ngClass]="{'bg-secondary':(order.orderStatus!=='Yet To Start' && order.orderStatus!=='In Progress' && order.orderStatus!=='Money Pending' && order.orderStatus!=='Delivered'),'bg-primary': order.orderStatus==='Yet To Start', 
  'bg-warning': order.orderStatus==='In Progress', 
  'bg-danger': order.orderStatus==='Money Pending',
  'bg-success': order.orderStatus==='Delivered'}">{{order.orderStatus}}</span></td>
<td><div class="btn-group" *ngIf="userIsAuthenticated && userId==order.creator">
<button type="button" class="btn btn-sm btn-outline-warning"  [routerLink]="['/orders','edit', order._id]"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
  <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
</svg></button>
<button type="button" class="btn btn-sm btn-outline-danger" (click)="OnDelete(order._id)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
  <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
</svg></button>
</div></td>
</tr>
</tbody>
</table>
</div>

<!-- PAGINATION -->
<div style="float:right" *ngIf="orders.length > 0 && !isLoading">
<ul class="pagination">
  <li
    class="page-item pointer"
    [ngClass]="{ active: backward, disabled: !backward }"
  >
    <a class="page-link" (click)="onDecrement()">&laquo;</a>
  </li>
  <li class="page-item">
    <a class="page-link">{{ currentPage }} of {{ totalPages }}</a>
  </li>
  <li
    class="page-item pointer"
    [ngClass]="{ active: forward, disabled: !forward }"
  >
    <a class="page-link" (click)="onIncrement()">&raquo;</a>
  </li>
</ul>
</div>

</div>