
<div
  class="position-relative overflow-hidden text-center text-white bg-primary"
>

<!-- IS LOADING COMPONENT -->
<div class="d-flex justify-content-center d-print-none" *ngIf="isLoading">
<div class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
</div>

<!-- EDIT DELETE BUTTON -->
<div class="btn-group" *ngIf="userIsAuthenticated && userId===organizationDetail.creator && !isLoading">
<button
  type="button"
  class="btn btn-sm btn-warning"
  [routerLink]="['/organization','edit', organizationDetail._id]"
>
  <svg
  xmlns="http://www.w3.org/2000/svg"
  width="16"
  height="16"
  fill="currentColor"
  class="bi bi-pencil-fill"
  viewBox="0 0 16 16"
  >
  <path
    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"
  />
  </svg> Edit
</button>

</div>

<!-- MAIN PAGE ABOUT US -->

<div
  class="position-relative overflow-hidden text-center text-white bg-primary"
>
  <div class="col-md-5 p-5 mx-auto my-5">
    <h1 class="display-4 fw-normal">
      {{ organizationDetail.organizationName }}
    </h1>
    <p class="lead fw-normal">
      {{ organizationDetail.organizationDescription }}
    </p>
    <a routerLink="/home" class="btn btn-outline-light">Our Products</a>
  </div>
</div>


  <div class="row">
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <div class="p-3 border embed-responsive rounded ">
        <iframe
          class="embed-responsive-item"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d243.0468346329344!2d79.1316293062891!3d12.923824598263572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bad38bffb4a7d9b%3A0xb40f413e3529c5db!2sClassic%20Sports%20Center!5e0!3m2!1sen!2sin!4v1658593689793!5m2!1sen!2sin"
          width="100%"
          height="450"
          style="border:0;"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
    <div class="col-md-6 align-self-center p-lg-5 mx-auto my-5">
      <p class="lead fw-normal p-3">
        {{ organizationDetail.organizationAddress }}
      </p>
      <p class="lead fw-normal">
        {{ organizationDetail.organizationPhoneNo }} <br />
        {{ organizationDetail.organizationEmail }}
      </p>
    </div>
  </div>
</div>
