<!-- <app-header></app-header> -->
<!-- <div class="container-fluid"></div> -->
<!-- <app-gallery-list></app-gallery-list> -->
<!-- <app-gallery-detail></app-gallery-detail> -->


<!-- <app-organization-list></app-organization-list> -->
<!-- <router-outlet></router-outlet> -->

<!-- <app-carousel [id]=myId [data]=myData></app-carousel> -->

<!-- {{books}} -->

<!-- <hr>

<ul *ngFor="let b of books; let i=index">
  <li>{{b}} - {{i}}</li>
</ul> -->


<!-- <hr> -->
<!-- <app-new-carousel [id]="myId" [imageArray]="books"></app-new-carousel> -->
<!-- <app-login></app-login> -->

<app-header></app-header>
<main>
 <router-outlet></router-outlet>
</main>