<div class="container">

 <!-- ADD MODEL -->
 <div class="my-3"  *ngIf="userIsAuthenticated">
 <a routerLink="/model/new"class="btn btn-primary">Add Gallery Item</a>
 </div>
 

<!-- IS LOADING COMPONENT -->
<div class="d-flex justify-content-center d-print-none" *ngIf="isLoading">
<div class="spinner-border text-primary" role="status">
  <span class="visually-hidden">Loading...</span>
</div>
</div>

<!-- SEARCH BAR -->
<div class="input-group my-3 d-print-none">
<span class="input-group-text search-my-primary text-white">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<svg
  xmlns="http://www.w3.org/2000/svg"
  width="16"
  height="16"
  fill="currentColor"
  class="bi bi-search"
  viewBox="0 0 16 16"
  >
  <path
    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
  /></svg>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>
<div class="form-floating">
  <input
  type="text"
  class="form-control"
  id="searchInput"
  placeholder="Search...."
  #searchInput
  />
  <label for="searchInput">Search....</label>
</div>
</div>
<span class="form-text d-print-none" *ngIf="requestedData">
Checking : <strong class="text-success"> {{ requestedData }} </strong>
</span>

<!-- NO OF GALLERYS -->


  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 my-5" *ngIf="gallerys.length > 0 && !isLoading">
    <div class="col" *ngFor="let gallery of gallerys">
      <div class="cardx">
      <a class="text-decoration-none" [routerLink]="['/model', gallery._id]">
        <div class="card" >
        
        <img class="rounded-top" src="https://drive.google.com/uc?export=view&id={{gallery.links[0]}}" alt="" height="200px" />
          <div class="card-body">
            <h5 class="card-title text-center" [ngClass]="gallery.isAvailable? 'text-success': 'text-danger'">
            
            <!-- <a class="text-decoration-none" [routerLink]="['/model', gallery._id]">  -->
              <!-- </a> -->
              
              {{ gallery.modelName }} - {{ gallery.modelNo }}
            </h5>
            
          </div>
         
        </div>
      </a>
      <div class="card" >
      <div class="card-header text-center" *ngIf="userIsAuthenticated && userId==gallery.creator">
         
            
      <div class="btn-group">
        <button class="btn btn-sm btn-outline-primary" [routerLink]="['/model', gallery._id]"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-square-fill" viewBox="0 0 16 16">
          <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.93 4.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM8 5.5a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </svg> View</button>
      <button type="button" class="btn btn-sm btn-outline-warning" [routerLink]="['/model','edit', gallery._id]" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
      </svg> Edit</button>
      <button type="button" class="btn btn-sm btn-outline-danger" (click)="OnDelete(gallery._id, gallery.links)"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
        <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
      </svg> Delete</button>
    </div>
      
    </div>
      </div>
      </div>
    </div>
  </div>
  <p class="text-center" *ngIf="gallerys.length<=0 && !isLoading">No Model Added</p>


<div style="float:right" *ngIf="gallerys.length > 0 && !isLoading">
  <ul class="pagination">
    <li
      class="page-item pointer"
      [ngClass]="{ active: backward, disabled: !backward }"
    >
      <a class="page-link" (click)="onDecrement()">&laquo;</a>
    </li>
    <li class="page-item">
      <a class="page-link">{{ currentPage }} of {{ totalPages }}</a>
    </li>
    <li
      class="page-item pointer"
      [ngClass]="{ active: forward, disabled: !forward }"
    >
      <a class="page-link" (click)="onIncrement()">&raquo;</a>
    </li>
  </ul>
</div>
</div>